body {
    background: #fff;
    font-family: Helvetica, sans-serif;
    border-top: 15px solid #424242;   
    margin: 0 0 10px 0; 

}

main{
    margin: 0 auto;
    width: 80%
}

img {
    width: 100%;
}

h1 {
    background-image: url('images/Logo.png');
    background-repeat: no-repeat;
    background-size: 40px;
    background-position: center left;
    font-size: 3em;
    padding-left: 55px;
    margin: 100px 0 25px 0;
    color: #424242;
}

.logo{
    height: 40px;
    width: 40px;
    float: left;
    
}

.content {
    display: flex;
    gap: 25px;
    margin: 0px 0 35px 0;

}

.mac{
    background-size: cover;
    background-position: bottom;
    height : 200px;
    border-radius: 20px;
    box-shadow:0px 4px 4px 0px #aaa;
}

.content section{
    flex-grow: 1;
    flex-basis: 0;
    background: #eee;
    padding: 25px;
    border-radius: 20px;
    margin-top: 25px;
    padding: 0;
    width: 50%;
}

h2{
    margin: 0 0 10px 0;
}

.content section h2{
    margin:25px;
}



div.bottom{
    padding: 25px;
    background: #424242;
    color: #fff;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.History{
    box-shadow:0px 4px 4px 0px #aaa;
}


.content section p {
    margin:25px;
    color: #000;
    font-family: Helvetica;
    font-style: normal;
    font-weight: 350;
    line-height: 26px; /* 144.444% */
    font-size: 18px;
}

code{
    color: #FFF;
    font-family: Courier;
    font-size: 18px;
    line-height: 26px;
    font-weight: 350;
}

h2{
    color: #000;
    font-family: Helvetica;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}