main{
    font-family: Helvetica, sans-serif;
    width: 80%;
    margin: auto;
}

img{
    width: 100%;
    height: 30vh;
    object-fit: cover;
    border-radius: 10px;
}

.logo{
    height: 30px;
    width: 30px;
}

.border{
    background-color: #424242;
    height: 15px;
    width:100%
}

h1{
    color:#424242;
}

div{
    width: 80%;
    margin: auto;
}

section{
    border-radius: 5px;
    background-color: E9EAEC;
    width: 40%;
}