body {
    background: #fff;
    font-family: Helvetica, sans-serif;
    margin: 0 auto;    
}

main{
    margin: 0 auto;
    width: 80%
}

img {
    width: 100%;
}
.logo{
    height: 40px;
    width: 40px;
    float: left;
    
}

.content {
    display: flex;
    gap: 25px
}

.mac{
    background-size: cover;
    background-position: bottom;
    height : 200px;
    border-radius: 20px;
}

.content section{
    flex-grow: 1;
    flex-basis: 0;
    background: #eee;
    padding: 25px;
    border-radius: 20px;
    margin-top: 25px;
    padding: 0;
}

h2{
    margin: 0 0 10px 0;
}

.content section h2 {
    margin:25px;
}



div.bottom{
    padding: 25px;
    background: #424242;
    color: #fff;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

