body{
    margin: 0px;

}
main{
    font-family: Helvetica, sans-serif;
    width: 80%;
    margin: auto;
}

img{
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 1vw;
}

.logo{
    height: 40px;
    width: 40px;
    float: left;
    
}

.border{
    background-color: #424242;
    height: 15px;
    width:100%;
    margin-bottom: 10vh;
}

h1{
    color:#424242;
}

section{
    border-radius: 5px;
    background-color: #E9EAEC;
    width: 50%;
    float: left;
    height:100%
    
}

.Example{
    float: right;
}

.content{
    margin-top: 5vh;
    height:40vh;
}
code{
    background-color: #424242;
    color: #FFF;
}

