body {
    background: #fff;
    font-family: Helvetica, sans-serif;
    border-top: 15px solid #424242;   
    margin: 0 0 10px 0; 

}

main{
    margin: 0 auto;
    width: 80%
}

img {
    width: 100%;
}
.logo{
    height: 40px;
    width: 40px;
    float: left;
    
}

.content {
    display: flex;
    gap: 25px
}

.mac{
    background-size: cover;
    background-position: bottom;
    height : 200px;
    border-radius: 20px;
    box-shadow:0px 4px 4px 0px #aaa;
}

.content section{
    flex-grow: 1;
    flex-basis: 0;
    background: #eee;
    padding: 25px;
    border-radius: 20px;
    margin-top: 25px;
    padding: 0;
    width: 50%;
}

h2{
    margin: 0 0 10px 0;
}

.content section h2,  .content section p{
    margin:25px;
}



div.bottom{
    padding: 25px;
    background: #424242;
    color: #fff;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.History{
    box-shadow:0px 4px 4px 0px #aaa;
}


p {
    color: #000;
    font-family: Helvetica;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 144.444% */
}

code{
    color: #FFF;
    font-family: Courier;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

h2{
    color: #000;
    font-family: Helvetica;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}